.git*
.ipynb_checkpoints
.vscode
*.doc
*.docx
*.ncl
*__pycache__
ai-models
ARs
blocking
diffusion
mat2py
moist_QG_channel
QG_2-layer
QG_multi-layer
SEBM
tutorials
vae*
AM_indices/old*
AM_indices/vv*
AM_indices/tests*
AM_indices/clean_version
AM_indices/cmip6*
AM_indices/jra_55
AM_indices/data*
AM_indices/Figs*