.gitignore
__pycache__
ai-models
ARs
blocking
moist_QG_channel
mat2py
diffusion
QG_2-layer
QG_multi-layer
SEBM
tutorials
vae*
*.doc
*.docx
AM_indices/old*
AM_indices/vv*
AM_indices/tests*
AM_indices/clean_version/cmip6
AM_indices/cmip6*
AM_indices/jra_55
AM_indices/data*
AM_indices/Figs*
